<nav class="navbar">
  <a href="#" class="navbar-brand">
    <h1>Xello Angular</h1>
  </a>

  <ul class="nav">
    <li class="nav-item">
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>

    <li class="nav-item">
      <a routerLink="/about" routerLinkActive="active">About</a>
    </li>

    <li class="nav-item">
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>



